html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Loading-indicator {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
  margin-top: 10%;
}

#limitInput {
  width: 3em;
  text-align: right;
}

td.title a:link {
  color: black;
}

/* visited link */
td.title a:visited {
  color: gray;
}

table {
  border-spacing: 0px 16px;
  margin: auto;
  max-width: 800px;
  padding: 10px 20px;
}

tr {
  background: #fff;
}

td {
  padding: 25px;
}

td.score {
  color: gray;
  font-size: 1.15em;
  text-align: center;
}

td.title {
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 0px;
  text-align: left;
}

td.title p {
  font-size: 0.6em;
  padding: 0;
  margin: 0;
  text-align: left;
}

td.total {
  font-size: 1.2em;
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media(max-width: 720px) {
  html {
    font-size: 14px;
  }
}

@media(max-width: 390px) {
  html {
    font-size: 12px;
  }
}
